*{
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: lightgray;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
    display:flex;
    width: 100%;
    height: 100px;
    background-color: rgb(114, 48, 48);
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

h1{
    font-size: 60px;
    font-weight: bold;
}

h2{
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color:blue;
}
.sec-noticias h2{
    font-size: 25px;
}

nav{
    display:flex;
    width: 100%;
    height: 50px;
    background-color: rgb(88, 85, 85);
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    color:lightgrey;
    display:none;
}

main{
    display:flex;
    width: 100%;
    height: 600px;
    flex-wrap: wrap;
    background-color: lightblue;
}
main .sec-noticias{
    display:inherit;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: column;
    width:100%;
    padding:10px;
    background-color: lightyellow;
}
main .pri-noticias{
    display:inherit;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: column;
    width:100%;
    padding:10px;
    order: -1;
    background-color:lightblue;
}
main .publicidad{
    width: 100%;
    display:inherit;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    padding:20px;
    background-color: lightcyan;
}
main .publicidad img{
    width:150px;
    height: 150px;
}

.noticias{
    display:inherit;
    padding:15px;
    border-radius: 10px;
    margin:10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px;
    border-style: solid;
    width: 350px;
    height: 350px;
    background-color: lightgray;
}
.noticias a{
    color:black;
}
.noticias p{
    color:grey;
    font-size: 14px;
}
.noticias img{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.noticias h3{
    font-size:16px;
    font-weight: bold;
    margin-bottom: 10px;
}

form{
    background-color: lightblue;
    width: 700px;
    padding: 15px;
    border-radius: 7%;
    margin: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.formstyle{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.formstyle p{
    font-size: 13px;
    font-style: oblique;
    margin-top: 5px;
}
.formstyle span{
    color:red;
}

form h1{
    font-size: 40px;
    text-align: center;
}
form .btn{
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 8px;
    margin: 10px;
}
form fieldset{
    margin: 10px;
    height: 80px;
    width: 45%;
    padding: 20px;
    padding-top: 25px;
    border:0.5px;
    align-items: center;
    justify-content: center;
    border-style: dashed;
}

@media only screen and (min-width: 768px) {  
    h1{
        font-size: 90px;
        font-weight: bold;
    }
    nav a{
        display:block;
    }
    main .pri-noticias{
        flex-direction: row;
    }
    main .sec-noticias{
        flex-direction: row;
    }
    .noticias{
        margin-left: 2px;
        margin-right: 2px;
    }
  }

  @media only screen and (min-width: 1024px) {
      main .sec-noticias{
          width: 15%;
      }
      main .publicidad{
          width: 15%;
      }
      main .pri-noticias{
          order: 0;
          width: 70%;
      }
      nav a{
          display:block;
      }
  }
  